<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="estilos/administradordos.css">
</head>

<body>
    <div class="primera">
        <img src="img/logo.png" alt="Imagen Izquierda" class="imagen-izquierda">
        <button class="boton">VOLVER</button>
    </div>
    <div class="lista">
        <div class="item">
            <img src="img/documento.png" alt="Imagen 1" class="imagen">
            <div class="contenido">
                <p>LISTA COMERCIO RESTAURANTES</p>
            </div>
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>LOGO</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>John Doe</td>
                <td><img src="logo1.png" alt="Logo 1"></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Jane Smith</td>
                <td><img src="logo2.png" alt="Logo 2"></td>
            </tr>
            <!-- Agrega más filas según sea necesario -->
        </tbody>
    </table>

</body>

</html>