<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Principal Cliente</title>
    <link rel="stylesheet" th:href="@{/css/paginaprincipal1.css}">
</head>

<body>
    <section class="principal">
        <div class="navegacion">
            <img th:src="@{/img/logo.png}" alt="Imagen Izquierda" class="imagen-izquierda">
            <img th:src="@{/img/barrabusqueda.png}" alt="Imagen Derecha" class="imagen-derecha">
        </div>
        <div class="ofertas">
            <img th:src="@{/img/oferta1.png}" alt="Imagen" class="imagen">
            <div class="boton-izquierdo">◄</div>
            <div class="boton-derecho">►</div>
        </div>
        <div class="textos">
            <div class="titulo1 titulo">RESTAURANTES</div>
            <div class="titulo">ESCOGE UNO</div>
            <button class="titulo titulo3 boton">EMPIEZA DE NUEVO</button>
        </div>
        <div class="rectangulo-container">
            <div th:each="comida, iterStat : ${comidas}">
                <div class="rectangulo" th:classappend="${iterStat.last} ? 'last-rectangulo' : ''">
                    <img th:src="@{${comida.imagenComida}}" alt="Imagen Comida" width="200" height="200">
                    <img th:src="@{${comida.logo}}" alt="Logo" width="50" height="50">
                    <p th:text="${comida.nombre}"></p>
                </div>
            </div>
        </div>
        
    </section>
    <footer>
        <button class="botonlista textobotones">Ver Lista</button>
        <button class="botonpagar textobotones">$0,00 PAGAR</button>
    </footer>
</body>

</html>